footer.main-footer
    .container
        .main-footer__wrapper
            .main-footer__top
                ul.list
                    li.list__item
                        h2.title.show 
                            span БАЗА ЦВЕТОВ
                        .list__item-inner
                            a(href="about.html") О компании
                            a(href="") Новости
                            a(href="contatcs.hmtl") Контакты
                            a(href="") Политика конфидециальности
                    li.list__item
                        h2.title.show
                            span ПОКУПАТЕЛЯМ
                        .list__item-inner
                            a(href="") Магазины
                            a(href="sales.html") Акции
                            a(href="reviews.html") Отзывы
                            a(href="") Программа лояльности
                            a(href="") Как хранить цветы
                    li.list__item
                        h2.title.show
                            span ЛИЧНЫЙ КАБИНЕТ
                        .list__item-inner
                            a(href="basket.html") Корзина
                            a(href="favorites.html") Избранное
                            a(href="cabinet.html") Мои заказы
                            a(href="cabinet.html") Личные данные
                            a(href="") Программа лояльности
                    li.list__item
                        h2.title.show 
                            span ПОМОЩЬ
                        .list__item-inner
                            a(href="") Как сделать заказ
                            a(href="questions.html") Вопросы и ответы
                            a(href="") Условия доставки
                            a(href="") Возврат товара
                            a(href="") Подарочная карта
                    li.list__item.list__item--contacts
                        h2.title.show 
                            span Контактная информация
                        .list__item-inner
                            a.mail(href="mail:bazacvetov@mail.ru") bazacvetov@mail.ru
                            a.phone(href="phone:+79513215000") +7 (951) 321-50-00 
                            a.phone(href="phone:+79513219444") +7 (951) 321-94-44
                            a.phone(href="phone:+79513212444") +7 (951) 321-24-44
                    li.list__item.list__item--social
                        h2.title Соцсети
                        .list__wrapper-social
                            a(href="").item
                                picture
                                    img(src="images/svg/vk.svg" alt="")
                                span Вконтакте
                            a(href="").item
                                picture
                                    img(src="images/svg/inst.svg" alt="")
                                span Instagram
                            a(href="").item
                                picture
                                    img(src="images/svg/viber.svg" alt="")
                                span Viber
                            a(href="").item
                                picture
                                    img(src="images/svg/whatsapp.svg" alt="")
                                span Whatsapp



            //- .main-footer__middle
            //-     h2.title Соцсети
            //-     .list
            //-         a(href="").item
            //-             img(src="images/svg/vk.svg" alt="")
            //-             span Вконтакте
            //-         a(href="").item
            //-             img(src="images/svg/inst.svg" alt="")
            //-             span Instagram
            //-         a(href="").item
            //-             img(src="images/svg/viber.svg" alt="")
            //-             span Viber
            //-         a(href="").item
            //-             img(src="images/svg/whatsapp.svg" alt="")
            //-             span Whatsapp

            .main-footer__bottom
                a.logo(href="index.html")
                    img(src="images/svg/logo.svg" alt="")
                span.copy © 2020 База цветов. Все права защищены.
                span.develop Разработано в <a href="">Kvokka</a>

