header.main-header
    .main-header__top
        .container
            ul.main-header__cols
                li.col.burger
                    //- img(src="images/svg/burger.svg" alt="")
                li.col.logo
                    a(href="index.html")
                        img(src="images/svg/logo.svg" alt="")
                li.col.center
                    a(href="phone:+79513215000").phone +7 (951) 321-50-00
                    button#request Заказать звонок
                li.col.right
                    .search
                        input(type="search" placeholder="Поиск")
                    .social
                        p Соцсети
                        ul
                            li.inst
                                a(href="")
                                    img(src="images/svg/inst.svg" alt="")
                            li.viber
                                a(href="")
                                    img(src="images/svg/viber.svg" alt="")
                            li.vk
                                a(href="")
                                    img(src="images/svg/vk.svg" alt="")
                            li.whatsapp
                                a(href="")
                                    img(src="images/svg/whatsapp.svg" alt="")
                    ul.head-icons
                        li.head-icons__glass
                            a(href="cabinet.html")
                                img(src="images/svg/glass-red.svg" alt="")
                        li.head-icons__favorites
                            a(href="favorites.html")
                                img(src="images/svg/heart.svg" alt="")
                        li.head-icons__basket
                            a(href="basket.html")
                                img(src="images/svg/basket.svg" alt="")
    .main-header__bottom
        .container
            ul.links
                li
                    a(href="index.html") ГЛАВНАЯ
                li
                    a(href="") ЦВЕТЫ
                li
                    a(href="catalog.html") БУКЕТЫ
                li
                    a(href="catalog.html") РОЗЫ
                li
                    a(href="catalog.html") КОМПОЗИЦИИ
                li
                    a(href="") КОМУ
                li
                    a(href="") ПОВОД
                li
                    a(href="") ПОДАРКИ
                li
                    a(href="help.html") ПОМОЩЬ
            ul.other
                li
                    a(href="cabinet.html").main-header__user 
                        img(src="images/svg/user.svg" alt="")
                        span ВОЙТИ
                li
                    a(href="favorites.html").main-header__favorites 
                        img(src="images/svg/favorites.svg" alt="")
                        span ИЗБРАННОЕ
                li
                    a(href="basket.html").main-header__basket 
                        img(src="images/svg/basket.svg" alt="")
                        span КОРЗИНА (0)
    .mobile-menu
        ul
            li
                a(href="") ЦВЕТЫ
            li
                a(href="") БУКЕТЫ
            li
                a(href="") РОЗЫ
            li
                a(href="") КОМПОЗИЦИИ
            li
                a(href="") КОМУ
            li
                a(href="") ПОВОД
            li
                a(href="") ПОДАРКИ
            li
                a(href="") О НАС
            li
                a(href="") КЛИЕНТАМ
        ul
            li.label Телефон
            li.item.mobile-menu__phone
                a(href="phone:+79513215000")
                    img(src="images/svg/phone.svg" alt="")
                    span +7 (951) 321-50-00
        ul.social
            li.label Соцсети
            ul
                li.inst
                    a(href="")
                        img(src="images/svg/inst.svg" alt="")
                li.viber
                    a(href="")
                        img(src="images/svg/viber.svg" alt="")
                li.vk
                    a(href="")
                        img(src="images/svg/vk.svg" alt="")
                li.whatsapp
                    a(href="")
                        img(src="images/svg/whatsapp.svg" alt="")

        ul
            li.label.mobile-menu__enter
                a(href="")
                    img(src="images/svg/user.svg" alt="")
                    span Войти