.basket-information {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    .basket__col {
        &--2 {
            .list {
                max-width: 658px;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 20px;
                .item {
                    flex: 1 0 auto;
                    input {
                        width: 100%;
                        height: 50px;
                        @media (max-width: 1919px) {
                            height: 40px;
                        }
                    }
                    @media (max-width: 1919px) {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                    @media (max-width: 400px) {
                        margin-bottom: 10px;
                    }
                }

                @media (max-width: 1919px) {
                    flex-direction: column;
                }
                &--mode {
                    justify-content: flex-start;
                    .item {
                        flex: 0 1 auto;
                        &:first-child {
                            @media (max-width: 1919px) {
                                margin-right: 20px;
                            }
                        }
                        @media (max-width: 1023px) {
                            flex: 1 0 auto;
                        }
                    }
                    @media (max-width: 1919px) {
                        flex-direction: row;
                    }
                }
            }
            .consent {
                max-width: 658px;
                width: 100%;
                margin: 0 auto;
            }
            @media (max-width: 1919px) {
                padding-left: 48px;
                padding-right: 57px;
                padding-top: 35px;
            }
        }
        &--costumer {
            display: flex;
            flex-direction: column;
            .list {
                display: flex;
                justify-content: center;
                margin-bottom: 25px;
                .item {
                    margin-right: 20px;
                    // height: 50px;
                    &:last-child {
                        margin-right: 0;
                        @media (max-width: 1919px) {
                            flex: 1 0 auto;
                        }
                        @media (max-width: 1023px) {
                            flex: 0 1 auto;
                        }
                    }
                    @media (max-width: 1919px) {
                        margin-right: 0;
                        // line-height: 40px;
                        // height: 40px;
                    }
                    @media (max-width: 1023px) {
                        // height: 50px;
                    }
                }
                &--mode {
                    justify-content: flex-start;
                }
                @media (max-width: 1919px) {
                    justify-content: flex-start;
                    margin-bottom: 0;
                }
            }
            input {
                // line-height: 50px;
                height: 100%;
                padding: 0 30px;
                border: 1px solid $color-grey;
                @media (max-width: 1919px) {
                    // line-height: 40px;
                    // height: 40px;
                    padding: 0 20px;
                }
                @media (max-width: 1023px) {
                    line-height: 50px;
                    height: 50px;
                }
                @media (max-width: 400px) {
                    line-height: 40px;
                    height: 40px;
                }
            }

            button {
                height: 100%;
                color: $color-white;
                background-color: $color-orange;
                padding: 0 30px;
                border: 0;
                text-transform: uppercase;
                @media (max-width: 1919px) {
                    // line-height: 40px;
                }
            }
            .consent {
                display: flex;
                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    &:checked + label::before {
                        background-image: url("../images/svg/arrow-red.svg");
                        background-size: 15px auto;
                        background-position: center;
                        transform: rotate(90deg);
                    }
                }
                label {
                    font-weight: 300;
                    padding-left: 30px;
                    position: relative;
                    a {
                        color: $color-orange;
                    }
                }
                label::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $color-grey;
                    top: 0;
                    left: 0;
                }
            }
        }
        @media (max-width: 1919px) {
            padding: 35px 55px;
            padding-left: 50px;
        }
        @media (max-width: 400px) {
            padding: 20px;
        }
    }
    input[type="submit"] {
        background-color: $color-orange;
        color: $color-white;
        text-transform: uppercase;
        height: 50px;
        padding: 0 30px;
        border: none;
        align-self: center;
        @media (max-width: 400px) {
            height: 40px;
        }
    }
    .basket__content {
        margin-bottom: 30px;
        @media (max-width: 400px) {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 1023px) {
        margin-bottom: 35px;
    }
}
