.burger {
    position: relative;
    background-image: url("../images/svg/burger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 24px;
    height: 20px;
    width: 100%;
    &.active {
        background-image: url("../images/svg/cross.svg");
        max-width: 20px;
    }
    @media (max-width: 1023px) {
        display: block;
    }
}
