.cabinet-favorite {
    width: 100%;
    .list {
        display: flex;
        flex-direction: column;
        .list__row {
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: $color-white;
            padding: 70px 76px;
            padding-bottom: 56px;
            padding-right: 0;
            margin-bottom: 20px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                height: 100%;
                background-color: $color-white;
            }

            .col-1 {
                display: flex;
                margin-right: 40px;
                max-width: 83px;
                width: 100%;
                flex: 1 0 auto;
                picture {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                @media (max-width: 1919px) {
                    max-width: 102px;
                }
                @media (max-width: 1023px) {
                    display: none;
                }
            }
            .col-2 {
                display: flex;
                flex: 1 0 auto;
                justify-content: space-between;
                max-width: 690px;
                margin-right: auto;
                margin-bottom: 15px;

                & > div {
                    display: flex;
                    flex-direction: column;
                }
                .col22 {
                    font-size: 18px;
                    .col22__title {
                        @media (max-width: 1919px) {
                            margin-right: 10px;
                        }
                    }
                    @media (max-width: 1919px) {
                        font-size: 14px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                    }
                    @media (max-width: 1023px) {
                        // flex-direction: column;
                        display: none;
                    }
                }
                @media (max-width: 1919px) {
                    flex-direction: column;
                    flex: 0 1 auto;
                }
                @media (max-width: 1023px) {
                    margin-right: 0;
                }
            }
            .col21,
            .col22 {
                justify-content: space-between;
                .col22__title,
                .col21__content {
                    text-transform: uppercase;
                }
                .col22__content {
                    font-family: $font-add;
                }
                .col21__content {
                    span {
                        text-transform: none;
                        &:nth-child(2) {
                            margin-left: 25px;
                            @media (max-width: 1919px) {
                                margin-left: 15px;
                            }
                            @media (max-width: 1023px) {
                                margin-left: 0;
                            }
                        }
                    }
                    @media (max-width: 1023px) {
                        // display: flex;
                        // flex-direction: column;
                        display: none;
                    }
                }
                .col21__title {
                    @media (max-width: 1023px) {
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }
            }

            .col-4 {
                &--btns {
                    display: flex;
                    flex-direction: column;
                    button {
                        background-color: $color-white;
                        border: none;
                        height: 50px;
                        max-width: 170px;
                        width: 100%;
                        text-transform: uppercase;
                        padding: 0 36px;
                        white-space: nowrap;

                        &.in-basket {
                            border: 1px solid $color-grey;
                        }
                        &.delete {
                            color: $color-orange;
                        }
                        @media (max-width: 1919px) {
                            padding: 0 20px;
                            font-size: 14px;
                        }
                        @media (max-width: 1023px) {
                            height: 40px;
                        }
                    }
                    @media (max-width: 1919px) {
                        max-width: 130px;
                        flex: 1 0 auto;
                        width: 100%;
                    }
                    @media (max-width: 1023px) {
                        max-width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
            &:last-child {
                margin-bottom: 100px;
                @media (max-width: 1919px) {
                    margin-bottom: 35px;
                }
            }
            @media (max-width: 1919px) {
                font-size: 14px;
                padding: 35px;
                padding-right: 0;
            }
            @media (max-width: 1023px) {
                position: relative;
                padding: 35px 45px;
                flex-direction: column;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                }
            }
            @media (max-width: 480px) {
                padding-left: 0;
                padding-right: 0;
            }
            .col__mobile-list {
                display: none;
                justify-content: space-between;
                margin-bottom: 30px;
                .item {
                    display: flex;
                    flex-direction: column;
                }
                .item__title {
                    text-transform: uppercase;
                }
                .item__content {
                    font-size: 14px;
                }
                @media (max-width: 1023px) {
                    display: flex;
                }
            }
        }
    }
}
