.cart-related {
    // padding-top: 100px;
    padding-bottom: 100px;

    .main-list__content .list {
        justify-content: flex-start;
        .item {
            width: calc(100% / 3);
            @media (max-width: 1023px) {
                max-width: 214px;
                width: 100%;
                margin: 0 4px;
            }
        }
        @media (max-width: 1023px) {
            margin: 0 -4px;
        }
    }
    .list {
        @media (max-width: 1023px) {
            .item {
                height: auto;
            }
        }
    }
    .slick-track {
        @media (max-width: 1023px) {
            display: flex;
        }
    }
    .prev {
        left: 0;
        @media (max-width: 1023px) {
            left: 4px;
        }
    }
    .next {
        right: 0;
        @media (max-width: 1023px) {
            right: 4px;
        }
    }
    .prev,
    .next {
        position: absolute;
        z-index: 10;
        bottom: 20px;
        width: 24px;
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 25px;
        li {
            width: 10px;
            height: 10px;
            background-color: #4f4f51;
            border-radius: 50%;
            &.slick-active {
                background-color: $color-orange;
                width: 8px;
                height: 8px;
            }
            margin: 0 3px;
            width: 5px;
            height: 5px;
        }
        button {
            font-size: 0;
            padding: 0;
            &::before {
                font-size: 0;
            }
        }
    }
    .slick-slider {
        margin-bottom: 0;
        padding-bottom: 60px;
    }

    @media (max-width: 1919px) {
        padding-bottom: 0;
    }
}
