.help-feedback {
    background-color: $color-white;
    position: relative;
    padding-top: 70px;
    padding-bottom: 86px;
    margin-bottom: 50px;
    @media (max-width: 1919px) {
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 35px;
    }
}

.help-feedback__cross {
    position: absolute;
    top: 70px;
    right: 70px;
    width: 9px;
    height: 11px;
    img {
        object-fit: cover;
    }
    @media (max-width: 1919px) {
        top: 35px;
        right: 35px;
    }
}

.help-feedback__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 745px;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
    }
    &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
    }
    @media (max-width: 1919px) {
        max-width: 766px;
    }
}

.help-feedback__inputs {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    input {
        flex: 1 0 auto;
        border: 1px solid $color-grey;
        line-height: 50px;
        padding: 0 30px;
        &:first-child {
            margin-right: 29px;
            @media (max-width: 1023px) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        @media (max-width: 1023px) {
            padding: 0 15px;
        }
    }
    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.help-feedback__consent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .consent {
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked + label::before {
                background-image: url("../images/svg/arrow-red.svg");
                background-size: 15px auto;
                background-position: center;
                transform: rotate(90deg);
            }
        }
        label {
            font-weight: 300;
            padding-left: 30px;
            position: relative;
            a {
                color: $color-text;
            }
            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid $color-grey;
                top: 0;
                left: 0;
            }
        }
    }
    input[type="submit"] {
        border: none;
        text-transform: uppercase;
        padding: 0 28px;
        height: 50px;
        background-color: $color-orange;
        color: $color-white;
        font-weight: 300;
        @media (max-width: 1919px) {
            height: 40px;
        }
        @media (max-width: 1023px) {
            height: 50px;
        }
    }
    @media (max-width: 1023px) {
        flex-direction: column;
    }
}
