.reviews__banner {
    margin-bottom: 50px;
    .container {
        @media (max-width: 1919px) {
            max-width: 100%;
            padding: 0;
        }
    }
    @media (max-width: 1919px) {
        margin-bottom: 35px;
    }
}

.reviews__content {
    display: flex;
    flex-direction: column;
    .reviews__amount {
        display: flex;
        justify-content: center;
        span {
            &:first-child {
                margin-right: 10px;
            }
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        .row {
            background-color: $color-white;
            margin-bottom: 30px;
            padding: 50px;
            position: relative;
            .row__head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 45px;
                .title {
                    display: flex;
                    align-items: center;
                    .picture {
                        margin-right: 18px;
                        max-width: 30px;
                        min-height: 30px;
                        width: 100%;
                        flex: 1 0 auto;
                        background-repeat: no-repeat;
                        &.female {
                            background-image: url("../images/svg/flower-female.svg");
                        }
                        &.male {
                            background-image: url("../images/svg/flower-male.svg");
                        }
                    }
                    .title {
                        font-weight: 700;
                        flex: 0 1 auto;
                    }
                }
                .date {
                    display: flex;
                    align-items: center;
                    font-weight: 300;
                    picture {
                        margin-right: 10px;
                    }
                }
                @media (max-width: 1919px) {
                    margin-bottom: 20px;
                }
                @media (max-width: 1023px) {
                    margin-bottom: 25px;
                }
            }
            .row__text {
                // margin-bottom: 42px;
                p {
                    font-weight: 300;
                    line-height: 1.8;
                }
                @media (max-width: 1919px) {
                    font-size: 14px;
                }
                @media (max-width: 1023px) {
                    font-size: 16px;
                }
            }

            @media (max-width: 1919px) {
                margin-bottom: 10px;
                padding: 35px 0;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: -100%;
                    background-color: #fff;
                    top: 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 100%;
                    background-color: #fff;
                    top: 0;
                }
            }
            @media (max-width: 1023px) {
                padding: 40px 0;
            }
        }
    }
}

.reviews__button {
    text-transform: uppercase;
    border: 1px solid $color-grey;
    background-color: #fff;
    align-self: center;
    height: 50px;
    padding: 0 35px;
    margin-bottom: 30px;
    margin-top: 50px;

    &.active {
        background-color: $color-orange;
        color: #fff;
        & + div {
            display: block;
        }
    }
    @media (max-width: 1919px) {
        height: 40px;
        padding: 0 25px;
        margin-top: 35px;
    }
    @media (max-width: 1023px) {
        height: 50px;
    }
}

.reviews__form-wrapper {
    display: none;
    position: relative;
    background-color: #fff;
    padding: 50px 0;
    margin-bottom: 100px;
    @media (max-width: 1919px) {
        padding: 35px 0;
    }
    @media (max-width: 1023px) {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background-color: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            background-color: #fff;
        }
    }
}

.reviews__form-inner {
    display: flex;
    flex-direction: column;
    max-width: 908px;
    width: 100%;
    margin: 0 auto;
    .title {
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
        @media (max-width: 1919px) {
            font-size: 18px;
            margin-bottom: 30px;
        }
        @media (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        .item {
            display: flex;
            // padding: 0 1px;
            &:first-child {
                margin-bottom: 20px;
            }
            &:last-child {
                flex-wrap: wrap;
                input {
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                        @media (max-width: 1919px) {
                            margin-right: auto;
                        }
                    }
                    &:nth-child(2) {
                        @media (max-width: 1919px) {
                            margin-right: 0;
                        }
                    }
                    @media (max-width: 1023px) {
                        margin-right: 0;
                    }
                }
            }
            @media (max-width: 1023px) {
                flex-direction: column;
            }
        }
        textarea {
            width: 100%;
            padding: 0 30px;
            height: 50px;
            padding-top: 10px;
            border: 1px solid $color-grey;
            min-height: 50px;
        }
        input {
            flex: 1 0 auto;
            padding: 0 30px;
            line-height: 50px;
            border: 1px solid $color-grey;
            @media (max-width: 1023px) {
                margin-bottom: 20px;
            }
        }
        input[type="submit"] {
            background-color: $color-orange;
            color: $color-white;
            padding: 0 35px;
            text-transform: uppercase;
            border: none;
            @media (max-width: 1919px) {
                margin: 0 auto;
                margin-top: 20px;
                min-width: 168px;
                flex: 0 1 auto;
            }
        }
        // input[type="email"] {
        //     @media (max-width: 1919px) {
        //         margin-right: 0;
        //     }
        // }
    }
    @media (max-width: 1919px) {
        max-width: 600px;
    }
}
