doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content
            include modules/header.pug

            main
                //- breadcrumbs
                .breadcrumbs
                    .container
                        ul.list
                            li.item
                                a(href="index.html") Главная
                            li.item
                                img(src="../images/svg/arrow-red.svg" alt="")
                            li.item.active
                                a КОРЗИНА

                //- basket-main
                .basket-main
                    .basket-main__col1
                        .basket-main__head
                            h3.title Корзина
                            span.basket-main_amount (3)
                        ul.list
                            //- list__row
                            li.list__row
                                picture
                                    img(src="images/basket/item2.jpg" alt="")
                                ul.info
                                    li.info__row
                                        .col1 
                                            span Композиция Рассвет в кашпо
                                        .col2 
                                            span.col__name Количество:
                                    li.info__row
                                        .col1
                                            span.info__name Категория:
                                            span.info__content Кустовые цветы
                                        .col2.col__amount
                                            span.mark
                                                img(src="images/svg/minus.svg" alt="")
                                            input(type="text" value="3")
                                            span.mark
                                                img(src="images/svg/plus.svg" alt="")
                                    li.info__btns
                                        .col1
                                            button.info__delete Удалить
                                            button.info__favorite В избранное
                                        .col2
                                            span.price 10 090 ₽ 
                            //- list__row
                            li.list__row
                                picture
                                    img(src="images/basket/item2.jpg" alt="")
                                ul.info
                                    li.info__row
                                        .col1 
                                            span Композиция Рассвет в кашпо
                                        .col2 
                                            span.col__name Количество:
                                    li.info__row
                                        .col1
                                            span.info__name Категория:
                                            span.info__content Кустовые цветы
                                        .col2.col__amount
                                            span.mark
                                                img(src="images/svg/minus.svg" alt="")
                                            input(type="text" value="3")
                                            span.mark
                                                img(src="images/svg/plus.svg" alt="")
                                    li.info__btns
                                        .col1
                                            button.info__delete Удалить
                                            button.info__favorite В избранное
                                        .col2
                                            span.price 10 090 ₽    
                            //- list__row
                            li.list__row
                                picture
                                    img(src="images/basket/item2.jpg" alt="")
                                ul.info
                                    li.info__row
                                        .col1 
                                            span Композиция Рассвет в кашпо
                                        .col2 
                                            span.col__name Количество:
                                    li.info__row
                                        .col1
                                            span.info__name Категория:
                                            span.info__content Кустовые цветы
                                        .col2.col__amount
                                            span.mark
                                                img(src="images/svg/minus.svg" alt="")
                                            input(type="text" value="3")
                                            span.mark
                                                img(src="images/svg/plus.svg" alt="")
                                    li.info__btns
                                        .col1
                                            button.info__delete Удалить
                                            button.info__favorite В избранное
                                        .col2
                                            span.price 10 090 ₽ 

                    .basket-main__col2
                        .basket-main__row
                            .basket-main__head.show
                                h3.title ИНФОРМАЦИЯ О ЗАКАЗЕ
                                img(src="images/svg/arrow-down-red.svg", alt="")
                            ul.list
                                li.item
                                    span.up КОЛИЧЕСТВО ТОВАРОВ:
                                    span 5
                                li.item
                                    span.up СТОИМОСТЬ ТОВАРОВ:
                                    span
                                        b 27 750‬ ₽
                                li.item
                                    span.up СКИДКА
                                    span 0‬ ₽
                                li.item
                                    span.up ДОСТАВКА*
                                    span 500‬ ₽
                                li.item.item--address
                                    span.up АДРЕС МАГАЗИНА:
                                    span.font-add г. Курск ул. Радищева 46 (Ватутина 14)
                            .basket-main__total
                                span.text ВСЕГО:
                                span.amount 28 250 ₽‬
                            .basket-main__text
                                p *Заказ считается срочным в течение 2 часов с момента оформления
                                p *При заказе от 2 000 ₽ доставка бесплатная 
                                p *Доставка по городу - 100 ₽‬ 

                        .basket-main__row
                            .basket-main__head
                                h3.title.title--mode ОСТАВЬТЕ КОММЕНТАРИЙ К ЗАКАЗУ, ИЛИ ТЕКСТ ДЛЯ ОТКРЫТКИ
                            textarea(placeholder="Введите текст")
                //- basket-delivery
                .basket-delivery
                    h2.basket__title <span>01</span>Доставка
                    .basket__content
                        .basket__col.basket__col--1
                            h3.title СПОСОБ ДОСТАВКИ
                            ul.list
                                li.item
                                    input(type="radio" id="check1" name="check" checked)
                                    label(for="check1") Себе
                                li.item
                                    input(type="radio" id="check2" name="check")
                                    label(for="check2") Кому-то
                                li.item
                                    input(type="radio" id="check3" name="check")
                                    label(for="check3") Самовывоз
                        .basket__col.basket__col--2
                            h3.title ВЫБОР МАГАЗИНА
                            ul.list.list--wrap
                                li.item
                                    input(type="radio" id="check4" name="check-address" checked)
                                    label(for="check4") г. Курск ул. Радищева 46 (Ватутина 14)
                                li.item
                                    input(type="radio" id="check5" name="check-address")
                                    label(for="check5") г. Курск ул. Карла Маркса 73
                                li.item
                                    input(type="radio" id="check6" name="check-address")
                                    label(for="check6") г. Курск ул. Малых 43

                //- basket-delivery
                .basket-payment
                    h2.basket__title <span>02</span> Получение и оплата
                    .basket__content
                        .basket__col.basket__col--1
                            h3.title КОГДА НУЖНО ДОСТАВИТЬ ЗАКАЗ?
                            .basket-payment__lists
                                ul.list
                                    li.item
                                        input(type="radio" id="check7" name="check-date" checked)
                                        label(for="check7") Сегодня
                                    li.item
                                        input(type="radio" id="check8" name="check-date")
                                        label(for="check8") Завтра
                                    li.item
                                        input(type="radio" id="check9" name="check-date")
                                        label(for="check9") Послезавтра
                                ul.list
                                    li.item.date-clock
                                        span 16:00
                            p.basket-payment__text *Заказ считается срочным в течение 2 часов с момента оформления


                        .basket__col.basket__col--2.basket__col--payment
                            h3.title СПОСОБ ОПЛАТЫ
                            ul.list-payment
                                li.list-payment__item
                                    .picture
                                        <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38.8054 34.2367C49.1164 20.2487 39.2823 0.147211 21.6708 0.00783198C21.6701 0.00783198 21.6695 0.00768932 21.6688 0.00768932C21.6669 0.00768932 21.6649 0.00768932 21.6632 0.00754666C21.6605 0.00754666 21.6576 0.007404 21.6551 0.007404C21.6531 0.007404 21.6509 0.007404 21.6489 0.007404C21.5411 0.00469346 21.4318 0.00469346 21.3357 0.007404C21.3347 0.007404 21.3338 0.007404 21.3328 0.007404C21.3315 0.007404 21.3302 0.00754666 21.3291 0.00754666C21.3281 0.00754666 21.327 0.00754666 21.326 0.00754666C21.3255 0.00754666 21.3252 0.00754666 21.3248 0.00754666C9.39074 0.0979931 0 9.81228 0 21.4997C0 33.3692 9.62256 42.9934 21.4937 42.9934C25.312 42.9934 29.1282 41.9845 32.5289 39.9452L35.2573 42.6737C35.6825 43.0986 36.3737 43.1007 36.8007 42.6736L41.249 38.2237C41.6753 37.7973 41.6751 37.1064 41.249 36.6804L38.8054 34.2367ZM14.9217 3.35706C13.1444 5.36443 11.6757 8.20222 10.6848 11.6776H4.86899C7.16738 7.80349 10.7587 4.87653 14.9217 3.35706ZM3.75467 13.8603H10.144C9.70045 15.9547 9.44538 18.1478 9.38346 20.4084H2.21266C2.33748 18.1349 2.8552 15.9397 3.75467 13.8603ZM2.21266 22.5911H9.3836C9.44538 24.8518 9.70059 27.0449 10.1441 29.1391H3.75467C2.8552 27.06 2.33748 24.8648 2.21266 22.5911ZM4.86899 31.3218H10.6847C11.6756 34.7969 13.144 37.6345 14.9202 39.6418C10.7581 38.1223 7.16752 35.1955 4.86899 31.3218ZM20.4024 40.6875C17.358 40.0053 14.5704 36.5037 12.9625 31.3218H20.4024V40.6875ZM20.4024 29.1391H12.3803C11.9067 27.0569 11.6326 24.8626 11.5667 22.5911H20.4024C20.4024 25.8921 20.4024 27.6317 20.4024 29.1391ZM20.4024 20.4084H11.5667C11.6325 18.1368 11.9065 15.9427 12.3802 13.8603H20.4025V20.4084H20.4024ZM20.4024 11.6774H12.9627C14.5696 6.49858 17.3553 2.9977 20.4025 2.31265V11.6774H20.4024ZM39.2326 29.1391H38.1516L39.0924 28.1983C39.6862 27.6043 39.413 26.5892 38.6031 26.3724L33.4605 24.9943C33.5325 24.2034 33.5813 23.4008 33.6037 22.5912H40.7748C40.65 24.8643 40.1324 27.0594 39.2326 29.1391ZM40.7748 20.4084H33.604C33.5422 18.1476 33.2869 15.9545 32.8435 13.8603H39.2326C40.1323 15.9394 40.65 18.1348 40.7748 20.4084ZM38.1185 11.6776H32.3028C31.3119 8.20251 29.8435 5.36486 28.0672 3.35763C32.2296 4.87696 35.8204 7.80392 38.1185 11.6776ZM22.5851 2.31179C25.6294 2.99399 28.417 6.49558 30.0249 11.6774H22.5851V2.31179ZM22.5851 13.8603H30.6073C31.0809 15.9424 31.3551 18.1366 31.4209 20.4084H22.5852V13.8603H22.5851ZM31.4187 22.5911C31.4007 23.2061 31.3691 23.8174 31.3209 24.4208L24.4933 22.5911H31.4187ZM22.5851 40.6866V31.3218H22.616L24.8438 39.6361C24.1127 40.1591 23.3537 40.5129 22.5851 40.6866ZM28.0236 39.6766C28.4956 39.1489 28.9469 38.562 29.3738 37.9183L29.9381 37.3541L30.9337 38.3497C29.9994 38.8744 29.0259 39.3168 28.0236 39.6766ZM36.0289 40.3585L30.7097 35.0391C30.2837 34.6132 29.5927 34.6127 29.1663 35.039C27.6116 36.5937 28.0193 36.186 26.5683 37.6371L23.0373 24.4606C28.5281 25.9323 34.7102 27.5889 36.2125 27.9914L33.6145 30.5891C33.1883 31.0156 33.1883 31.7065 33.6145 32.1326L38.9342 37.4522L36.0289 40.3585ZM38.1227 31.3218C37.8488 31.7848 37.5561 32.2366 37.2441 32.6754L35.9298 31.3611L35.9689 31.3218H38.1227Z" fill="#C4C4C4"/></svg>
                                    p Онлайн
                                li.list-payment__item
                                    .picture
                                        <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M44.1211 21.3507H43.5938V14.8465V9.06501C43.5938 7.14392 42.1275 5.56873 40.2848 5.45834L39.3819 1.62493C39.1085 0.464379 37.9674 -0.251264 36.8386 0.029862L14.9476 5.47686C14.8895 5.46087 14.8286 5.45157 14.7656 5.45157H3.51562C1.57711 5.45157 0 7.07256 0 9.06501V39.4179C0 41.4104 1.57711 43.0314 3.51562 43.0314H40.0781C42.0166 43.0314 43.5938 41.4104 43.5938 39.4179V32.9137H44.1211C44.6057 32.9137 45 32.5085 45 32.0104V22.2541C45 21.756 44.6057 21.3507 44.1211 21.3507ZM42.1875 9.06501V9.06655C41.8349 8.79382 41.4309 8.58822 40.9934 8.46689L40.6424 6.97635C41.5323 7.23064 42.1875 8.07041 42.1875 9.06501ZM3.51562 6.89694H9.24047L3.37544 8.35632C3.37175 8.35705 3.36823 8.35822 3.36463 8.35903L3.35013 8.36265C3.34828 8.3631 3.34644 8.36382 3.34459 8.36436C3.32438 8.36951 3.3046 8.37556 3.28509 8.38243C3.28157 8.38369 3.27823 8.38505 3.2748 8.38631C3.25679 8.39309 3.23912 8.40041 3.22172 8.40863C3.2168 8.41098 3.21205 8.41342 3.20722 8.41576C3.19192 8.42344 3.17689 8.43157 3.1623 8.44034C3.15624 8.44395 3.15026 8.44774 3.14429 8.45163C3.13137 8.45994 3.11862 8.46861 3.10623 8.47773C3.09964 8.48261 3.09322 8.48758 3.08681 8.49264C3.07538 8.50167 3.06431 8.51098 3.0535 8.52073C3.04717 8.52643 3.04102 8.53221 3.03495 8.53808C3.02449 8.5482 3.01438 8.5585 3.00454 8.56915C2.999 8.57512 2.99364 8.58126 2.98837 8.58749C2.97861 8.59888 2.96912 8.61062 2.96007 8.62263C2.9555 8.6286 2.9511 8.63474 2.9468 8.64079C2.93774 8.65362 2.92913 8.66672 2.92087 8.68009C2.91718 8.68605 2.91366 8.6921 2.91015 8.69825C2.90215 8.71207 2.89468 8.72616 2.88765 8.74052C2.88448 8.74703 2.88149 8.75353 2.87851 8.76004C2.87209 8.77422 2.86611 8.78849 2.86058 8.80313C2.85768 8.8108 2.85495 8.81857 2.85231 8.82634C2.84774 8.83989 2.84344 8.85353 2.83957 8.86754C2.83685 8.87729 2.83447 8.88723 2.83219 8.89717C2.82938 8.90927 2.82674 8.92138 2.82454 8.93366C2.82226 8.94613 2.82059 8.95877 2.81892 8.97133C2.8176 8.98163 2.81637 8.99184 2.81549 9.00223C2.81426 9.01686 2.81364 9.03168 2.81329 9.04649C2.81312 9.05245 2.81241 9.05832 2.81241 9.06438C2.81241 9.06781 2.81285 9.07106 2.81294 9.0745C2.81312 9.08886 2.81399 9.10322 2.81505 9.11777C2.81584 9.12834 2.81654 9.1389 2.81769 9.14938C2.81909 9.1614 2.82103 9.17341 2.82305 9.18552C2.82516 9.19816 2.82727 9.21081 2.82999 9.22328C2.83087 9.22716 2.83122 9.23105 2.8321 9.23493C2.83377 9.2418 2.83614 9.2483 2.8379 9.25508C2.84124 9.26781 2.84476 9.28046 2.8488 9.29293C2.85249 9.30431 2.85653 9.31542 2.86075 9.32644C2.86471 9.33692 2.86866 9.34722 2.87314 9.35743C2.87868 9.37026 2.88466 9.38272 2.89081 9.3951C2.89468 9.40278 2.89855 9.41055 2.90268 9.41804C2.91032 9.43204 2.91841 9.4456 2.92685 9.45897C2.93036 9.46448 2.93388 9.46999 2.93748 9.47541C2.94715 9.48977 2.95734 9.50368 2.96798 9.51723C2.97114 9.5213 2.97439 9.52545 2.97773 9.52943C2.98916 9.54334 3.00103 9.5568 3.01342 9.56981C3.01667 9.57324 3.01992 9.57667 3.02335 9.58002C3.03609 9.59284 3.04919 9.60513 3.06281 9.61687C3.0665 9.62004 3.0702 9.6232 3.07397 9.62636C3.0876 9.63765 3.10157 9.64849 3.11607 9.6587C3.12029 9.66177 3.1246 9.66475 3.12891 9.66764C3.14341 9.67749 3.15826 9.6867 3.17338 9.69547C3.17795 9.69808 3.18252 9.70061 3.18709 9.70315C3.20273 9.71164 3.21873 9.71949 3.23499 9.72681C3.2393 9.72871 3.2436 9.7307 3.248 9.7325C3.26531 9.73991 3.28289 9.74642 3.30082 9.75238C3.30425 9.75346 3.30768 9.75464 3.3111 9.75572C3.3307 9.76186 3.35048 9.7671 3.37061 9.77144C3.37254 9.7718 3.37438 9.77234 3.37632 9.7727C3.39829 9.77731 3.42053 9.78074 3.44294 9.78318C3.44338 9.78318 3.44382 9.78327 3.44426 9.78336C3.46764 9.7858 3.49119 9.78707 3.51501 9.78707C3.51519 9.78707 3.51545 9.78707 3.51562 9.78707H3.51738C3.52617 9.78707 3.53479 9.78743 3.54357 9.78707H36.5625C36.9508 9.78707 37.2656 9.46348 37.2656 9.06438C37.2656 8.66527 36.9508 8.34169 36.5625 8.34169H9.41001L37.1694 1.43459C37.5449 1.34091 37.9243 1.57913 38.0152 1.96504L39.5171 8.34187H39.3754C38.987 8.34187 38.6722 8.66545 38.6722 9.06456C38.6722 9.46366 38.987 9.78725 39.3754 9.78725H40.0781C40.1489 9.78725 40.2188 9.79104 40.2878 9.798C40.3151 9.80324 40.3428 9.80667 40.3707 9.80857C41.3958 9.95545 42.1875 10.8619 42.1875 11.9553V11.9578C41.5995 11.503 40.869 11.2331 40.0781 11.2331H3.51562C2.35248 11.2331 1.40625 10.2604 1.40625 9.06501C1.40625 7.86959 2.35257 6.89694 3.51562 6.89694ZM42.1875 39.4179C42.1875 40.6134 41.2413 41.586 40.0781 41.586H3.51562C2.35248 41.586 1.40625 40.6134 1.40625 39.4179V11.9538C1.99424 12.4085 2.72479 12.6785 3.51562 12.6785H40.0781C41.2412 12.6785 42.1875 13.6511 42.1875 14.8465V21.3507H31.9045C31.3713 21.3507 30.9375 21.7966 30.9375 22.3446V31.9199C30.9375 32.4678 31.3713 32.9137 31.9045 32.9137H42.1875V39.4179ZM43.5938 31.4684H32.3438V22.7961H42.8804C42.8839 22.7961 42.8872 22.7966 42.8906 22.7966C42.8941 22.7966 42.8974 22.7962 42.9008 22.7961H43.5938V31.4684Z" fill="#C4C4C4"/><path d="M37.9688 26.4096C37.5804 26.4096 37.2656 26.7332 37.2656 27.1323C37.2656 27.5308 36.9502 27.855 36.5625 27.855C36.1748 27.855 35.8594 27.5308 35.8594 27.1323C35.8594 26.7338 36.1748 26.4096 36.5625 26.4096C36.9508 26.4096 37.2656 26.086 37.2656 25.6869C37.2656 25.2878 36.9508 24.9642 36.5625 24.9642C35.3994 24.9642 34.4531 25.9369 34.4531 27.1323C34.4531 28.3277 35.3994 29.3004 36.5625 29.3004C37.7256 29.3004 38.6719 28.3277 38.6719 27.1323C38.6719 26.7332 38.3571 26.4096 37.9688 26.4096Z" fill="#C4C4C4"/></g><defs><clipPath id="clip0"><rect width="45" height="43" fill="white"/></clipPath></defs></svg>
                                    p При получении
                            p.basket-payment__text ВНИМАНИЕ! Онлайн-покупка доступна с 8:00 до 20:00 по МСК

                //- basket-delivery
                .basket-information
                    h2.basket__title <span>03</span> ИНФОРМАЦИЯ О ПОКУПАТЕЛЕ
                    .basket__content
                        .basket__col.basket__col--1.basket__col--recipient.not-active
                            h3.title ДАННЫЕ ПОЛУЧАТЕЛЯ
                            ul.list
                                li.item
                                    input(type="text" placeholder="Имя")
                                li.item
                                    input(type="text" placeholder="Телефон")
                            ul.list
                                li.item
                                    input(type="text" placeholder="Адрес")
                                li.item.item--mode
                                    input(type="text" placeholder="Дом")
                                    input(type="text" placeholder="Этаж")
                                    input(type="text" placeholder="Домофон")
                        .basket__col.basket__col--2.basket__col--costumer.active
                            h3.title ДАННЫЕ ЗАКАЗЧИКА
                            ul.list
                                li.item
                                    input(type="text" placeholder="Имя")
                                li.item
                                    input(type="text" placeholder="Телефон")
                            ul.list.list--mode
                                li.item
                                    button Выслать код
                                li.item
                                    input(type="text" placeholder="Код из смс")
                            .consent
                                input(type="checkbox" id="consent")
                                label(for="consent") Соглашение на <a href="">обработку персональных данных</a>
                    input(type="submit" value="ПОДТВЕРДИТЬ ЗАКАЗ")


        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug