doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content
            include modules/header.pug

            main
                //- breadcrumbs
                .breadcrumbs
                    .container
                        ul.list
                            li.item
                                a(href="index.html") Главная
                            li.item
                                img(src="../images/svg/arrow-red.svg" alt="")
                            li.item.active
                                a ПОМОЩЬ
                //- help
                .help

                    h2.main-title ПОМОЩЬ

                    .help__banner.container
                        img(src="images/help/banner.jpg" alt="")
                    .container
                        .help__wrapper
                            h3.title ЧТО ЗДЕСЬ НАПИСАНО
                            .help__content
                                h4.subtitle Задача организации, в особенности же рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач
                                p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития. Разнообразный и богатый опыт сложившаяся структура организации играет важную роль в формировании направлений прогрессивного развития. Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. 

                                p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития. Разнообразный и богатый опыт сложившаяся структура организации играет важную роль в формировании направлений прогрессивного развития. Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.

                                p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании дальнейших направлений развития. Разнообразный и богатый опыт сложившаяся структура организации играет важную роль в формировании направлений прогрессивного развития. Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. 
                            .help__wrap
                                .help__articles
                                    .help__article
                                        h3.title И ВСЕ-ТАКИ ЧТО НУЖНО НАПИСАТЬ?
                                        ul.list
                                            li.item
                                                span.number 1
                                                p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует подготовки и реализации прогрессивного развития
                                            li.item
                                                span.number 2
                                                p Равным образом сложившаяся структура <b>организации требуют определения</b>
                                            li.item
                                                span.number 3
                                                p Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа соответствующий условий активизации.
                                    .help__article
                                        h3.title А ЧТО НАПИСАТЬ ЗДЕСЬ?
                                        ul.list
                                            li.item
                                                span.circle
                                                p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует подготовки и <a href="">реализации прогрессивного развития</a>
                                            li.item
                                                span.circle
                                                p <a href="">Равным образом сложившаяся структура</a> организации требуют определения
                                            li.item
                                                span.circle
                                                p Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа соответствующий условий активизации.
                                .help__picture
                                    picture
                                        img(src="images/svg/help.svg" alt="")

                            .help-review
                                .help-review__text
                                    p Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения соответствующий условий полной активизации. Задача организации, в особенности же рамки и место обучения кадров обеспечивает все широкому кругу (специалистов) участие в формировании систем массового участия. Задача в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Равным образом реализация намеченных плановых заданий требуют определения и уточнения новых предложений.
                                    .help-review__quotes.help-review__quotes--1
                                        img(src="images/svg/quotes.svg" alt="")
                                    .help-review__quotes.help-review__quotes--2
                                        img(src="images/svg/quotes.svg" alt="")
                                .help-review__bottom
                                    picture
                                        img(src="images/help/avatar.png" alt="")
                                    .help-review__title
                                        span.name ИВАНКА МЕЛАНЬЕВНА
                                        p Главный цветовод, флорист и энтузиаст
                            //- help-list
                            .help-list
                                ul.list.help-list-slider
                                    li.item
                                        picture
                                            img(src="images/svg/help-flower.svg" alt="")
                                        h3.title ЗАГОЛОВОК 1
                                        p Идейные соображения высшего порядка, а также постоянное информационно - пропагандистское обеспечение 
                                    li.item
                                        picture
                                            img(src="images/svg/help-flower.svg" alt="")
                                        h3.title ЗАГОЛОВОК 1
                                        p Идейные соображения высшего порядка, а также постоянное информационно - пропагандистское обеспечение 
                                    li.item
                                        picture
                                            img(src="images/svg/help-flower.svg" alt="")
                                        h3.title ЗАГОЛОВОК 1
                                        p Идейные соображения высшего порядка, а также постоянное информационно - пропагандистское обеспечение 
                                    li.item
                                        picture
                                            img(src="images/svg/help-flower.svg" alt="")
                                        h3.title ЗАГОЛОВОК 1
                                        p Идейные соображения высшего порядка, а также постоянное информационно - пропагандистское обеспечение                                        

                            //- help-section
                            .help-section
                                picture
                                    img(src="images/help-section/item.jpg" alt="")
                                .help-section__content
                                    h3.title ЗАГОЛОВОК
                                    p Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения соответствующий условий полной активизации. Задача организации, в особенности же рамки и место обучения кадров обеспечивает все широкому кругу (специалистов) участие в формировании систем массового участия. Задача в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Равным образом реализация намеченных плановых заданий требуют определения и уточнения новых предложений.

                            //- help-feedback
                            .help-feedback
                                .help-feedback__wrapper
                                    h2.title ФОРМА ОБРАТНОЙ СВЯЗИ
                                    .help-feedback__inputs
                                        input(type="text" placeholder="Имя")
                                        input(type="text" placeholder="Телефон")
                                    .help-feedback__consent
                                        .consent
                                            input(type="checkox" id="check")
                                            label(for="check") Согласен с обработкой <a href="">персональные данные</a>
                                        input(type="submit" value="Отправить")









        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug