$color-black: #1e1e1e;
$color-white: #ffffff;
$color-text: #1e1e1e;
$color-orange: #ff784a;
$color-brown: #b97070;
$color-grey: #c4c4c4;

$font-base: "Comfortaa", sans-serif;
$font-add: "Montserrat", sans-serif;